

<div class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
      </div>
      <div>
        <a routerLink="/food/{{cartItem.food.id}}">
          {{cartItem.food.name}}
        </a>
      </div>
      <div>
        <span class = "big">♥ </span>


      </div>


      <div>
        {{cartItem.price  |currency}}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
      <p>
    {{king}}
  </p>

    </li>
  </ul>
  <div class="checkout">

    <div class="food-count" class ="color2">
      <h3 class = "only">
        ToTAL ITEMS
      </h3>


      {{cart.items.length }}
    </div>
    <div class="total-price" class = "color2">
      <h3 class = "only">
        TOTAL PRICE
      </h3>
      {{cart.totalPrice  | currency }}
    </div>
  </div>

</div>





